/*Media Queries*/
@screen-mobile-med: 980px;

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;

	position: absolute;
    top: 50%;
    left: 120px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	position: absolute;
    top: 50%;
    left: 120px;
}
body {
	.inner {
		.combo-creator-link, .date {
			display: block;
		}
/*		.month-con {
			.week-label {
				position: relative;
				cursor: pointer;
				display: block;
			}
			.week {
				display: block;

				&.expand {
					@media(max-width: @screen-mobile-med){
						display: block;
					}
				}
				@media(max-width: @screen-mobile-med){
					display: none;
				}
				.day {

				}
			}
		}*/
	}
}